-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sebo
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cd`
--

DROP TABLE IF EXISTS `cd`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cd` (
  `id_cd` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(50) DEFAULT NULL,
  `artista` varchar(70) DEFAULT NULL,
  `faixas` int(11) DEFAULT NULL,
  `gravadora` varchar(70) DEFAULT NULL,
  `ano` int(11) DEFAULT NULL,
  `musica` varchar(100) DEFAULT NULL,
  `imagem` varchar(100) DEFAULT NULL,
  `trecho_inicio` int(11) DEFAULT NULL,
  `trecho_fim` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_cd`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cd`
--

LOCK TABLES `cd` WRITE;
/*!40000 ALTER TABLE `cd` DISABLE KEYS */;
INSERT INTO `cd` VALUES (1,'CD - Tim Maia',' Tim Maia',1,'Sony',1980,'imagens/audios-menu/cd/1/musica.mp3','imagens/imagens-menu/cd/1/imagem.png',30,60),(3,'CD - PlayboiCarti','PlayboiCarti',15,'Sony',2018,'imagens/audios-menu/cd/3/musica.mp3','imagens/imagens-menu/cd/3/imagem.png',15,45),(4,'CD - Borboletas','Vitor & Leo',1,'Sony',2010,'imagens/audios-menu/cd/4/musica.mp3','imagens/imagens-menu/cd/4/imagem.png',60,90);
/*!40000 ALTER TABLE `cd` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `livro`
--

DROP TABLE IF EXISTS `livro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `livro` (
  `id_livro` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(50) DEFAULT NULL,
  `descricao` varchar(150) DEFAULT NULL,
  `autor` varchar(70) DEFAULT NULL,
  `editora` varchar(70) DEFAULT NULL,
  `paginas` int(11) DEFAULT NULL,
  `ano` int(11) DEFAULT NULL,
  `imagem` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_livro`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `livro`
--

LOCK TABLES `livro` WRITE;
/*!40000 ALTER TABLE `livro` DISABLE KEYS */;
INSERT INTO `livro` VALUES (1,'Entendendo Algoritmos','Um guia ilustrado para programadores e outros curiosos. Um algoritmo nada mais ├® do que um procedimento passo a passo para a resolu├º├úo de um problema.','Aditya Y.','NovaTec',264,2017,'imagens/imagens-menu/livro/1/imagem.png'),(3,'Em busca de sentido','Em busca de sentido','Gabriel','Em busca de sentido',290,2018,'imagens/imagens-menu/livro/3/imagem.png'),(4,'Psicologia Financeira','Psicologia Financeira','Gabriel','Psicologia Financeira',354,2015,'imagens/imagens-menu/livro/4/imagem.png');
/*!40000 ALTER TABLE `livro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario` (
  `id_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(70) DEFAULT NULL,
  `senha` varchar(100) DEFAULT NULL,
  `nome` varchar(70) DEFAULT NULL,
  `cpf` varchar(14) DEFAULT NULL,
  `cidade` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES (1,'gabrielb@gmail.com','$2y$10$YdVipjSAAMGIGlAbClFqeOoACkthF/WvBzEqOVNo7/O0QCgHPUmnu','Gabriel B','14028485853','Maring├í - PR');
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-20 22:23:11
